<mat-card>
  <mat-card-content class="user-detail-heaader">
    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="pin-right-upper-corner">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="editUserDetail()">Edit</button>
    </mat-menu>
    <img src="./assets/img/profile.png" alt="">
    <div class="user-details">
      <h2>{{userdata.user.firstName}} {{userdata.user.lastName}}</h2>
      {{userdata.user.email}} <br>
      {{userdata.user.birthDate}}

    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mt-32">
  <mat-card-header>
    <button mat-icon-button [matMenuTriggerFor]="addressMenu" class="pin-right-upper-corner">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #addressMenu="matMenu">
      <button mat-menu-item (click)="editAddress()">Edit</button>
    </mat-menu>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{userdata.user.street}} <br>
    {{userdata.user.zipCode}} {{userdata.user.city}}
  </mat-card-content>
</mat-card>
<mat-card class="mt-32">
  <mat-card-header>
    <button mat-icon-button [matMenuTriggerFor]="notesMenu" class="pin-right-upper-corner">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #notesMenu="matMenu">
      <button mat-menu-item (click)="addNotes()">Edit</button>
    </mat-menu>
    <mat-card-title>Notes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  @if (!userdata.user.notes) {
    no notes
  } @else {
    {{userdata.user.notes}}
  }
</mat-card-content>
</mat-card>