<mat-card>
    <table class="user-table">
      
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>


        @for (singleUser of allUsers; track $index) {
          <tr>
            <td>{{singleUser.firstName}} {{singleUser.lastName}}</td>
            <td>{{singleUser.email}}</td>
            <td>{{singleUser.city}}</td>
          </tr>
      } 

    </table>
</mat-card>


<button (click)="openDialog()" color="primary" class="add-user-button" matTooltip="Add user" matTooltipPosition="above" mat-fab>
    <mat-icon>add</mat-icon>
</button>